@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
}


.menu-deactivated {
  @apply fixed right-[-100%] bottom-0 z-40 h-full w-[300px] bg-primary-100 drop-shadow-lg duration-300;
}

.menu-actived {
  @apply fixed right-0 bottom-0 z-40 h-full w-[300px] bg-primary-100 drop-shadow-lg duration-300;
}